<!doctype html>
<html lang="en">
<%- include("partials/header.ejs") %>

  <body class="container-fluid">
    <div id="main" role="main" class="d-flex justify-content-center align-items-center" style="min-height: 100vh">
      <div class="mx-auto">
        <div class="row">
          <div class="col-sm-12">
            <div class="card rounded-3 border border-0">
              <img src="/images/bg-pattern-card.svg" class="card-img-top rounded-top-3" alt="background-photo">
              <img src="/images/image-victor.jpg"
                class="pfp rounded-circle border border-5 border-white position-absolute start-50 translate-middle"
                alt="victor's pfp">
              <div class="card-body">
                <div>
                  <table>
                    <tr>
                      <td class="card-title text-center">Victor Crest</td>
                      <td>26</td>
                    </tr>
                  </table>

                  <p class="card-text"> 26 London 80K Followers 803K Likes 1.4K Photos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>

</html>