/* tags */
body {
  background-image: url("/images/bg-pattern-bottom.svg"), url("/images/bg-pattern-bottom.svg");
  background-color: hsl(185, 75%, 39%);
  background-size: cover;
}

table {
margin-top: 3.5rem;
}

/* classes */

.card {
  max-width: 23rem;
}

.card-title {
  font-size: 18px;
  
}

.pfp {
  margin-top: 150px;
  width: 100px;
}